<!doctype html>
<!--指定模版引擎 thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}"/>
    <title>开发者社区-标签</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="index::header">
    </header>


    <!-- 内容 -->
    <!-- 背景装饰 bd-masthead-->
    <div class="bd-masthead">
        <div class="index">
            <!--            侧边分类-->
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 custom-bg-color custom-by-both">
                <!--                标签描述-->
                <div>
                    <div class="card">
                        <div class="card-header" style="background-color: white;font-size: 17px;">
                            <i class="bi bi-tags" style="font-size: 15px;"></i>
                            <span style="font-weight: bold;color: #2e8a5d;" th:text="${tag.name}">[当前标签]</span>
                            <a class="text-decoration-none custom-font-color"
                               style="float: right;font-size: 12px;font-weight: bold;margin-top: 3px;">
                                <b th:text="${tag.refCount}">[引用数]</b> 次引用</a>
                        </div>
                        <div class="card-body">
                            <a target=""
                               th:text="${tag.description}">[标签描述]</a>
                        </div>
                    </div>
                </div>
                <!--                相关标签-->
                <div>
                    <div class="card">
                        <div class="card-header" style="background-color: white;">
                            <span style="font-weight: bold;">相关标签</span>
                        </div>
                        <div class="card-body">
                            <a target=""
                               class="tag"
                               th:each="list,itemStat : ${relatedTags}" th:if="${itemStat.count}<=20"
                               th:classappend="|tag-${list.id % 12}|"
                               th:text="${list.name}"
                               th:href="@{|${list.id}|}">[标签名称]</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            中间部分-->
            <div class="indexcontainer">
                <!--                空图案-->
                <svg th:if="${#lists.isEmpty(discussPosts)}" xml:space="preserve"
                     style="width: 400px;height: 400px;margin-left: 185px;margin-top: 100px;"
                     viewBox="0 0 1500 1500" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns="http://www.w3.org/2000/svg" id="图层_1" version="1.1">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }

    .st1 {
        fill: url(#SVGID_1_);
    }

    .st2 {
        fill: #D6DFFD;
    }

    .st3 {
        fill: url(#SVGID_2_);
    }

    .st4 {
        fill: url(#SVGID_3_);
    }

    .st5 {
        fill: #F0F6FF;
    }

    .st6 {
        fill: url(#SVGID_4_);
    }

    .st7 {
        fill: url(#SVGID_5_);
    }

    .st8 {
        fill: url(#SVGID_6_);
    }

    .st9 {
        fill: url(#SVGID_7_);
    }

    .st10 {
        fill: url(#SVGID_8_);
    }

    .st11 {
        fill: url(#SVGID_9_);
    }

    .st12 {
        fill: url(#SVGID_10_);
    }

    .st13 {
        fill: url(#SVGID_11_);
    }

    .st14 {
        fill: url(#SVGID_12_);
    }

    .st15 {
        fill: url(#SVGID_13_);
    }

    .st16 {
        fill: #7F9AEF;
    }

    .st17 {
        fill: url(#SVGID_14_);
    }
</style>
                    <rect height="1500" width="1500" class="st0" y="2.8" x="-2"></rect>
                    <linearGradient y2="352.8949" x2="740.0818" y1="1451.2972" x1="757.9711"
                                    gradientUnits="userSpaceOnUse" id="SVGID_1_">
	<stop style="stop-color:#FFFFFF;stop-opacity:0" offset="0"></stop>
                        <stop style="stop-color:#D9E2FF" offset="1"></stop>
</linearGradient>
                    <polygon points="196.8,1310.2 196.8,430.4 298.7,430.4 298.7,351.3 430.5,351.3 430.5,514 496.4,514 496.4,640.6
	598.2,640.6 598.2,221.3 622.2,221.3 622.2,152.8 834.9,152.8 834.9,221.3 873.8,221.3 873.8,809.3 936.7,809.3 936.7,337.9
	1014.6,463.3 1014.6,668.5 1080.5,668.5 1080.5,502.4 1116.4,502.4 1116.4,367.9 1299.2,367.9 1299.2,1310.2"
                             class="st1"></polygon>
                    <ellipse ry="56.6" rx="376.4" cy="1296.2" cx="748" class="st2"></ellipse>
                    <linearGradient y2="954.4006" x2="979.889" y1="954.4006" x1="538.511"
                                    gradientUnits="userSpaceOnUse"
                                    id="SVGID_2_">
	<stop style="stop-color:#7D95E7" offset="0"></stop>
                        <stop style="stop-color:#7489E2" offset="1"></stop>
</linearGradient>
                    <polygon points="979.9,1022.9 538.5,1022.9 569.3,885.9 949.1,885.9" class="st3"></polygon>
                    <linearGradient y2="1428.3073" x2="759.06" y1="109.6906" x1="759.06"
                                    gradientUnits="userSpaceOnUse"
                                    id="SVGID_3_">
	<stop style="stop-color:#A4C4FD" offset="0.5076"></stop>
                        <stop style="stop-color:#5D6ED5" offset="1"></stop>
</linearGradient>
                    <rect height="401.6" width="379.5" class="st4" y="886.1" x="569.3"></rect>
                    <linearGradient y2="1003.3565" x2="778.384" y1="1003.3565" x1="755.7301"
                                    gradientUnits="userSpaceOnUse" id="SVGID_4_">
	<stop style="stop-color:#9BBDF9" offset="0"></stop>
                        <stop style="stop-color:#D9E5FC" offset="1"></stop>
</linearGradient>
                    <circle r="11.3" cy="1003.4" cx="767.1" class="st6"></circle>
                    <linearGradient y2="971.2081" x2="744.0505" y1="971.2081" x1="717.6209"
                                    gradientUnits="userSpaceOnUse" id="SVGID_5_">
	<stop style="stop-color:#9BBDF9" offset="0"></stop>
                        <stop style="stop-color:#D9E5FC" offset="1"></stop>
</linearGradient>
                    <circle r="13.2" cy="971.2" cx="730.8" class="st7"></circle>
                    <linearGradient y2="922.256" x2="725.2863" y1="922.256" x1="692.6954"
                                    gradientUnits="userSpaceOnUse"
                                    id="SVGID_6_">
	<stop style="stop-color:#9BBDF9" offset="0"></stop>
                        <stop style="stop-color:#D9E5FC" offset="1"></stop>
</linearGradient>
                    <circle r="16.3" cy="922.3" cx="709" class="st8"></circle>
                    <linearGradient y2="864.9021" x2="744.6417" y1="864.9021" x1="705.8272"
                                    gradientUnits="userSpaceOnUse" id="SVGID_7_">
	<stop style="stop-color:#9BBDF9" offset="0"></stop>
                        <stop style="stop-color:#D9E5FC" offset="1"></stop>
</linearGradient>
                    <circle r="19.4" cy="864.9" cx="725.2" class="st9"></circle>
                    <g>
	<linearGradient y2="793.6234" x2="741.9106" y1="622.862" x1="846.4857" gradientUnits="userSpaceOnUse" id="SVGID_8_">
		<stop style="stop-color:#9BBDF9" offset="0"></stop>
        <stop style="stop-color:#D9E5FC" offset="1"></stop>
	</linearGradient>
                        <polygon points="861.9,589.7 661.7,717.6 848.6,826.4" class="st10"></polygon>
                        <polygon points="729.8,810.8 725.1,752.9 862,589.5 781.7,788.9" class="st16"></polygon>
</g>
                    <linearGradient y2="1476.4568" x2="759.0667" y1="1074.6565" x1="759.0667"
                                    gradientUnits="userSpaceOnUse" id="SVGID_9_">
	<stop style="stop-color:#A4C4FD" offset="0"></stop>
                        <stop style="stop-color:#5D6ED5" offset="1"></stop>
</linearGradient>
                    <path d="M943.1,1286.8H575c-20.3,0-36.7-16.4-36.7-36.7v-227.5h441.6v227.5C979.9,1270.4,963.4,1286.8,943.1,1286.8z"
                          class="st11"></path>
                    <path d="M863.7,1112.5h-210c-4.2,0-7.6-3.4-7.6-7.6l0,0c0-4.2,3.4-7.6,7.6-7.6h210c4.2,0,7.6,3.4,7.6,7.6l0,0
	C871.2,1109.1,867.8,1112.5,863.7,1112.5z" class="st0"></path>
                    <path d="M828.4,1160H653.6c-4.2,0-7.6-3.4-7.6-7.6l0,0c0-4.2,3.4-7.6,7.6-7.6h174.8c4.2,0,7.6,3.4,7.6,7.6l0,0
	C835.9,1156.6,832.5,1160,828.4,1160z" class="st0"></path>
                    <path d="M759.5,1207.7H653.6c-4.2,0-7.6-3.4-7.6-7.6v-0.6c0-4.2,3.4-7.6,7.6-7.6h105.9c4.2,0,7.6,3.4,7.6,7.6v0.6
	C767,1204.3,763.6,1207.7,759.5,1207.7z" class="st0"></path>
</svg>

                <!-- 帖子列表 -->
                <postlist th:if="${page.rows>0}" th:fragment="postlist">
                    <ul class="list-unstyled">
                        <!--				循环输出 li -->
                        <!--				model.addAttribute("discussPosts", discussPosts);-->
                        <li class="media pb-3 pt-3 mb-3 border-bottom" style="margin-left: 7px;"
                            th:each="map:${discussPosts}">
                            <!--                        <a th:href="@{|/user/profile/${map.user.id}|}">-->
                            <!--                            &lt;!&ndash;						动态数据&ndash;&gt;-->
                            <!--                            &lt;!&ndash;						map.get("user") -> User -> user.getHeaderUrl&ndash;&gt;-->
                            <!--                            <img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像"-->
                            <!--                                 style="width:50px;height:50px;">-->
                            <!--                        </a>-->
                            <div class="media-body">
                                <h6 class="mt-0 mb-3">
                                    <!--							utext 对比 text 可以显示转义字符转义后的字符-->
                                    <a target="_blank" style="font-size: 19px;font-weight: 500;"
                                       th:href="@{|/discuss/detail/${map.post.id}|}"
                                       th:utext="${map.post.title}">[文章标题]</a>
                                    <!--							0-普通; 1-置顶;-->
                                    <!--							0-正常; 1-精华; 2-拉黑;-->
                                    <span class="badge badge-secondary bg-danger" th:if="${map.post.type==1}"
                                          style="font-weight: 500; color: #f85959; background-color: rgba(248,89,89,0.1) !important;"><i
                                            class="bi bi-pin-angle-fill"></i>顶</span>
                                    <span class="badge badge-secondary bg-primary" th:if="${map.post.status==1}"
                                          style="font-weight: 500; color: #c1ac00; background-color: rgb(240 222 64 / 29%) !important;"><i
                                            class="bi bi-award-fill"></i>精</span>
                                    <span class="badge badge-secondary bg-primary"
                                          style="float: right !important; font-weight: 500; color: #3c8cff; background-color: rgba(60,140,255,0.1) !important;">
                                    # <a th:text="${map.type}">[文章的类型]</a></span>
                                </h6>
                                <div class="text-muted font-size-12">
                                    <!--							thymeleaf内置的格式化工具 #dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')-->
                                    <a target="_blank" th:href="@{|/user/profile/${map.user.id}|}">
                                        <!--						动态数据-->
                                        <!--						map.get("user") -> User -> user.getHeaderUrl-->
                                        <img th:src="${map.user.headerUrl}" class="rounded-circle" alt="用户头像"
                                             style="width:24px;height:24px;margin-right: 4px;">
                                        <u class="mr-2" style="font-weight: 700;color: #198754; font-size: 14px;"
                                           th:utext="${map.user.username}">[用户名]</u>
                                    </a>
                                    <!--                                <i class="bi bi-dot"></i>-->
                                    <i class="bi bi-clock-history"></i>
                                    <!--                                th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">[发布时间]</b>-->
                                    <b class="mr-2"
                                       th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm')}">[发布时间]</b>
                                    <i th:if="not ${#lists.isEmpty(map.tags)}" class="bi bi-tags"
                                       style="font-size: 15px;"></i>
                                    <!--                                最多只显示5个标签-->
                                    <a class="mr-2 tag-0"
                                       href="#"
                                       style="color: #00965e;padding: 3px 5px;"
                                       th:each="item,itemStat : ${map.tags}" th:if="${itemStat.count}<=5"
                                       th:href="@{|${item.id}|}"
                                       th:text="${item.name}">[标签名称]</a>
                                    <a th:href="@{|/discuss/detail/${map.post.id}|}">
                                        <ul class="d-inline float-right">
                                            <li class="d-inline ml-2"><i class="bi bi-hand-thumbs-up"></i>
                                                <span th:text="${map.likeCount}">[帖子赞的数量]</span></li>
                                            <li class="d-inline ml-2">|</li>
                                            <li class="d-inline ml-2"><i class="bi bi-chat-left-dots"></i>
                                                <span th:text="${map.post.commentCount}">[帖子评论的数量]</span>
                                            </li>
                                            <li class="d-inline ml-2">|</li>
                                            <li class="d-inline ml-2"><i class="bi bi-bookmark-star"></i>
                                                <span th:text="${map.collectCount}">[帖子收藏的数量]</span>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </postlist>

                <!-- 分页 -->
                <!--			if="${page.rows>0} 有数据时候才显示分页-->
                <nav class="mt-5" th:if="${page.rows>10}" th:fragment="pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <!--					最后拼接的路径为 /index?current=1&limit=...-->
                            <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                        </li>
                        <!--					第一页的时候，上一页不可点-->
                        <li th:class="|page-item ${page.current==1?'disabled':''}|">
                            <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
                        <!--					当前页的时候分页按钮点亮-->
                        <li th:class="|page-item ${i==page.current?'active':''}|"
                            th:each="i:${#numbers.sequence(page.from,page.to)}">
                            <a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
                        </li>
                        <!--					最后一页的时候，下一页不可点-->
                        <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                            <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer class="bg-light" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-8 detail-info">
                    <div class="row">
                        <div class="col">
                            <ul class="nav btn-group-vertical company-info">
                                <li class="nav-item text-white-50">
                                    地址：福建省福州市xxxxx
                                </li>
                                <li class="nav-item text-white-50">
                                    联系方式：hcjjj@foxmail.com
                                </li>
                                <li class="nav-item text-white-50">
                                    HCJ©2022 All rights reserved
                                </li>
                                <li class="nav-item text-white-50">
                                    <img src="https://s4.ax1x.com/2022/02/19/HHT6eI.png" style="width:20px;"/>
                                    闽ICP备20220301号-1 &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="https://s4.ax1x.com/2022/01/31/HPHa4A.png" style="width:20px;"/>
                                    闽公网安备35018102000000号
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{js/index.js}"></script>
</body>
</html>
