.content {
	font-size: 16px;
	line-height: 2em;
}

.replyform textarea {
	width: 100%;
	height: 200px;
}

.floor {
	background: #dcdadc;
	padding: 4px 12px;
	border-radius: 3px;
	font-size: 14px;
}

.input-size {
	width: 100%;
	height: 35px;
}

.tocList{
	position:fixed;
	margin-left: 20px;
	font-size: 13px;
}

.link_a {
	display: block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #5a87b5;
	margin: 1px 0 0 0;
	text-align: center;
	line-height: 50px;    display: block;
	cursor: pointer;
}

.bsk_rightBar {
	width: 50px;
	position: fixed;
	right: 10px;
	bottom: 20%;
	margin-top: -190px;
	z-index: 999;
}